  .main  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo {
  width: 60%;
  height:30%;
}

  .logo img {
    width: 100%;
    height:100%;
    border-radius: 50%;
  }

  .main h1{
    color: #FDFDD5;
    text-align: center;
  }
  
  .btn {
    text-decoration: none;
    width: 130px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 10px;
    z-index: 0;
    background: #FDFDD5;
    overflow: hidden;
    border: 2px solid #0e00a9;
    color: #0e00a9;
    text-align: center;
    }
    .btn:hover {
      color: white;
    }
    .btn:hover:after {
      width: 100%;
    }
    .btn:after {
      content: "";
      position: absolute;
      z-index: -1;
      transition: all 0.3s ease;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: #0e00a9;
    }

    @media (min-width: 768px) { 
      .logo {
        width: 40%;
        height:30%;
      }
    }

    @media (min-width: 992px) { 
      .logo {
        width: 30%;
        height:50%;
      }
    }
  
  
    /* @media (min-width: 320px) and (max-width: 768px) {
      .logo {
        width: 40%;
        height:30%;
      }
    
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      .logo  {
        width: 40%;
        height: 45%;
      }
      .main h1 {
        font-size: 30px;
      }
    } */
