.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    flex: 1;
    margin: 150px 0px; 
}   

.playersList{
    width: 100%;
}


@media (min-width: 320px) and (max-width: 768px) {
    .players{
        font-size: 50%;
    }
    .players{
        width: 80%;
    }

    .playersList{
        width: 80%;
    }
}