.playersList{
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.playersList h1{
    color: antiquewhite;
    font-family: "Tourney", sans-serif;
    background-color: rgb(0,147,237,.9);
    border-radius: 10px;
    height: 15%;
}



@media (min-width: 320px) and (max-width: 768px) {

}