.typeAccount {
    display: flex;
    flex-direction: column;

}

.wrapper {
    /* width: 380px; */
    /* background-color: #fff; */
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, .1);
}

.headerLogin {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    user-select: none;
    background: linear-gradient(to right, #1CB5E0, #000046);
}

.customCloseButton {
    text-decoration: none;
    color: white;
    height: px;
}

.customCloseButton:hover {
    text-decoration: none;
    color: #1CB5E0;
}

.titleLogin {
    color: #fff;
}

.wrapper form {
    padding: 10px 30px 50px 30px;
}

.field input {
    width: 50%;
    height: 30px;
    /* outline: none;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all 0.3s ease; */
    margin: auto;
}

.eye{
    position: absolute;
    top: 15px;
    transform: translateX(-35px);
    cursor: pointer;
}

.btnLogin {
    width: 100%;
    height: 100%;
    color: #fff;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, #1CB5E0, #000046);

    outline: none;
    ;
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btnLogin:hover {
    background: #1CB5E0;
    color: #000046;
}

.field input:focus,
.field input:valid {
    border-color: #4158d0;
}


.field h3 {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #031457;
    font-weight: 400;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.field input:focus~label,
.field input:valid~label {
    top: 0;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}


/* #########COMPANY######## */
.boxCompany {
    display: flex;
    flex-wrap: wrap;
}

.fieldC {
    position: relative;
    width: 50%;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
}

.fieldC input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.fieldC input:focus,
.fieldC input:valid {
    border-color: #4158d0;
}

.fieldC label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.fieldC input:focus~label,
.fieldC input:valid~label {
    top: 0;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

/* #########END COMPANY######## */



.btnGoogle {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 25px;
}

.icoGoogle {
    font-size: 30px;
}

form .content {
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .content input {
    width: 15px;
    height: 15px;
    background-color: red;
}

form .content label {
    color: #262626;
    user-select: none;
    padding: 5px;
}

.passLink {
    color: blue;
}

.passLink:hover {
    color: blue
}

form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, #1CB5E0, #000046);
    transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
    transform: scale(0.9s);
}

form .signUpLink {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}

form .passLink a,
form .signUpLink a {
    color: #4158d0;
    text-decoration: none;
}

form .passLink a:hover,
form .signUpLink a:hover {
    text-decoration: underline;
}