.lineup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineup h1 {
    color: antiquewhite;
    font-family: "Tourney", sans-serif;
    background-color: rgb(0,147,237,.9);
    border-radius: 10px;
}

.gridLineup{
    display: grid;
    grid-template-columns: 70% auto ;
    grid-template-rows: 71.9% auto;
    gap: 20px 10px ;
}

.box{
    border: 4px solid black;
    text-align: center;
}

.b1{
    background-color: rgb(135,206,250,.7) ;
    height: 471px;
    overflow-y: auto;
}

.b2{
    height: 471px;
    background-color: rgb(248,215,218,.7);
    overflow-y: auto;
    /* padding-bottom: -16px; */
}

.b3{
    grid-column: 1 / span 2;
    height: 159px;
}

