.lineup{
    width: 97%;
    min-height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.lineup h1 {
    color: antiquewhite;
    font-size: clamp(30px, 2vw, 35px);
    font-family: "Tourney", sans-serif;
    background-color: rgb(0,147,237,.9);
    border-radius: 10px;
    height: 15%;
}

.gridLineup{
    display: grid;
    grid-template-columns: 70% auto ;
    grid-template-rows: 70% auto;
    gap: 1%;
    font-size: 10px;
}

.box{
    border: 4px solid black;
    text-align: center;
}

.b1{
    background-color: rgb(135,206,250,.7) ;
    max-height: 397px;
    overflow-y: auto;
    font-size: clamp(11px, 2vw, 12px);
}

.b2{
    max-height: 397px;
    background-color: rgb(248,215,218,.7);
    overflow-y: auto;
    font-size: clamp(11px, 2vw, 12px);
}

.b3{
    grid-column: 1 / span 2;
    height: 74%;
}



