.lineup{
    text-align: center;
    font-size: 16px;
}

.gridLineup{
    height: 650px; 
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 70% auto ;
    grid-template-rows: 91.3% auto;
    gap: 20px 10px ;
}

.box{
    border: 4px solid black;
    /* background-color: aqua; */
    text-align: center;
}

.b1{
    background-color: rgb(135,206,250,.7) ;
}

.b2{
    background-color: rgb(248,215,218,.7);
    overflow-y: auto;
    padding-bottom: -16px;
}

.b3{
    grid-column: 1 / span 2;
    height: 160px;
    /* background-color: lightseagreen; */
}

