.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
    overflow-y: auto;
   
}
  .btnActive {
    color: white;
    background-color: rgb(8,34,142);
  }