.containerCards {
  width: 90%;
  height: 95%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90% 10%;
  margin: 0 auto;

  
}

 .boxCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.navPagination{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .btnActive {
    color: white;
    background-color: rgb(8,34,142);
  }