.footer{
    width: 100%;
    align-items: center;
    background-color: rgb(0,147,237);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 50px;
    font-size: 18px;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    margin-top: 15px;
}

.footer p img {
    width: 3%;
}