.card{
    width: 31%;
    height: 20vh;
    perspective: 1000px;
    cursor: pointer;
}

.card img {
    width: 90%;
    height: 70%;
    object-fit: fill;
    border-radius: 10px;
    /* margin-bottom: 10px; */
}

.cardFace h5{
    margin-bottom: 0;
    font-size: clamp(12px, 2vw, 15px);
}

.cardContainer {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .2);
    border-radius: 10px;
}

.card:hover .cardContainer {
    transform: rotateY(180deg);
}

.cardFace{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background:  rgb(0, 157, 255, .5);
}


.containerAbout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 0px;
}

.containerAbout h4 {
   color :rgb(8,34,142)
}

.frontFace{
    transform: rotateY(0deg);
}

.backFace{
    display: flex;
    transform: rotateY(180deg);
    background: rgb(255, 255, 255,.5);
}

@media (min-width: 768px) {

    .card{
    width: 18%;
        height: 50%;
    }
    
    .card img {
        width: calc(110% - 12%) ;
        height: calc(83% - 12%);
       
    }

    .cardFace{
        gap:10px;
    }
    .cardFace h5{
        font-size: 13px;
    }

    
}





