.card{
    width: 200px;
    height: 315px;
    perspective: 1000px;
    cursor: pointer;
}

.card img {
    width: 196px;
    height: 245px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cardContainer {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .2);
    border-radius: 10px;
}

.card:hover .cardContainer {
    transform: rotateY(180deg);
}

.cardFace{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background:  rgb(0, 157, 255, .5);
}


.containerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 0 0;
    padding: 10px;
}

.containerAbout h2 {
   color :rgb(8,34,142)
}

.frontFace{
    transform: rotateY(0deg);
}

.backFace{
    display: flex;
    transform: rotateY(180deg);
    background: rgb(255, 255, 255,.5);
}

@media (min-width: 320px) and (max-width: 768px) {

    .card{
    width: 160px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
}

.card img {
    width: 135px;
    height: 245px;
    object-fit: cover;
    border-radius: 10px;
}
}





