.home{
    width: 90%;
    margin: 30px auto 0  auto;
}  

.home h3 {
    color: antiquewhite;
    font-family: "Tourney", sans-serif;
    /* background-color: rgb(0,147,237,.9); */
    border-radius: 10px;
    height: 15%;
}
.home h2 {
    color: antiquewhite;
}

.home img{
    object-fit: cover;
    height: 400px; 

}

/* .active{
    background-color: red;
} */
@media (min-width: 320px) and (max-width: 768px) {
    .home img{
       height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    
}