.home{
    width: 100%;
    position: absolute;
    flex: 1;
    margin: 150px 10px;  
    text-align: center; 
}   

.home img{
    margin: auto ;
    width: 30%;
    border-radius: 12px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .home img{
        margin: auto ;
        width: 70%;
        border-radius: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

}