.navBarGrid {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    height: 10%;
    justify-items: center;
    background-color:rgb(8,34,142, .7);
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img{
    width: 35%;
    border-radius: 50px;
  } 

  /* .navBarGrid a {
    width: 30%;
    text-align: center;
    
  } */

  .gridItemMenu{
    width: 70%;
    text-align: center;
    margin: auto;
  }

  .containerLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 10px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    .navBarGrid {
      grid-template-columns: auto;
      gap: 5px;
      height: 20%;
      align-items: center;
    }

    .img{
      max-width: 25%;
      border-radius: 50px;
    } 

    .gridItemMenu{
      width: 100%;
      margin: 0;
    }

    .navBarGrid a {
      width: 100%;
    }
  
  }

  @media (min-width: 768px) and (max-width: 1200px) {}

  



