.navBarGrid {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 7%;
    justify-items: center;
  }

  .navBarGrid a {
    width: 30%;
    text-align: center;
  }

  .gridItemMenu{
    width: 70%;
    text-align: center;
    margin: auto;
  }

  .img{
    max-width: 75%;
    border-radius: 50px;
  } 

   
  @media (min-width: 320px) and (max-width: 768px) {
    .navBarGrid {
      grid-template-columns: auto;
      grid-template-rows: 70% 30%;
      height: 20%;
      align-items: center;
    }

    .img{
      max-width: 15%;
      border-radius: 50px;
    } 

    .gridItemMenu{
      width: 100%;
      margin: 0;
    }

    .navBarGrid a {
      width: 100%;
    }
  
  }

  @media (min-width: 768px) and (max-width: 1200px) {}

  



