.navBarGrid {
    display: flex;
    justify-content: center; 
    overflow: hidden;
    background-color: rgba(2, 4, 74, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 1;
  }

  .navBarGrid a {
    width: 30%;
    text-align: center;
  }

  .gridItemMenu{
    width: 70%;
    text-align: center;
    margin: auto;
  }

  .gridItemMenu a {
    /* margin: 15px; */
  }

  .img{
    width: 35%;
    border-radius: 50px;
  } 

   
  @media (min-width: 320px) and (max-width: 768px) {
    .navBarGrid {
      flex-direction: column;
      justify-content: center; 
      height: 18%;
    }
    .img{
      width: 25%;
      border-radius: 50px;
    } 

    .gridItemMenu{
      width: 100%;
      margin: 0;
    }

    .navBarGrid a {
      width: 100%;
    }
  
  }

  @media (min-width: 768px) and (max-width: 1200px) {}

  



