.playersBox{
    width: 100%;
    position: absolute;
    flex: 1;
    margin: 150px auto;  
    text-align: center;   
}

/* css de pi */
.containerForm {
    width: 50%;
    height: 380px; 
    background-color: rgba(0, 200, 255, 0.498);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.label{
    color: #FDFDD5;
    font-size: 22px;
}

.select{
    width: 280px;
    height: 55px;
}

.field {
    margin: 0 30px;
    /* background-color: aqua; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
}

.birthDate input{
    width: 0%;
    height: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.field input {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    font-weight: 300;
    padding: 12px;
}

.field textarea {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    font-weight: 300;
    padding: 12px;
}


.btnChecklist {
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #000;
    background: #fff;
    display: flex;
    font-weight: 300;
    justify-content: flex-start;
    padding: 12px;
}


.btn {
    width: 200px;
    height: 50px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: rgb(16, 0, 192);
    color: white;
    font-style: italic;
    font-size: 25px;
}

.btn:hover {
    color: #ff3333;
    background-color: rgb(16, 0, 192);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ff3333;
    font-size: 90%;
}


/********************* CheckBox *********************/

.multipleSelection {
    width: 300px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.checkBoxes{
    background: #fff;
    border: 0.5px solid #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 150px;
    overflow-x: scroll;
    padding: 20px 15px;
    position: absolute;
    width: 45%;
    z-index: 10;
}


.checkBoxes label {
    display: block;

}

.checkBoxes input {
    background-color: #ff3333;

}

.checkBoxes label:hover {
    background-color: rgb(16, 0, 192,.5);
}


.footer{
    position: relative;
}