.App{
  background-image: url(/src/assets/fondo.jpg);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
}

.containerRoutes{
  width: 90%;
  height: 85%;
  padding-top: 19px;
  margin-inline: auto;
}


.lineup-section {
  display: flex;
  justify-content: center;
}

.lineup {
  position: relative;
  flex: 1;
  margin: 0 10px;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .App{
    /* height: auto; */
  }
  .App h1 {
      font-size: 1.2em;
      line-height: 1.1;
      text-align: center;
  }


}

@media (min-width: 768px) and (max-width: 1200px) {
  .App{
    height: auto;
  }   

}
