.App{
  background-image: url(/src/assets/fondo.jpg);
  background-size: cover;
  background-position: 10% 50%;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100%;
}

.lineup-section {
  display: flex;
  justify-content: center;
}
.lineup {
  position: relative;
  flex: 1;
  margin: 0 10px;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .App{
  background-image: url(/src/assets/fondo.jpg);
  background-size:cover;
  background-position: 10% 50%;
  height: 100vh;
  width: 100%;
}
.App h1 {
    font-size: 1.2em;
    line-height: 1.1;
    text-align: center;
}
}

@media (min-width: 768px) and (max-width: 1200px) {
  .App{
  background-image: url(/src/assets/fondo.jpg);
  background-size:cover;
  background-position: 10% 50%;
  height: 100vh;
  width: 100%;
}
.App h1 {
    font-size: 2.2em;
    line-height: 1.1;
    text-align: center;
}
}
