:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1,h2,h3,h4,ol{
  color: #FDFDD5;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/************ NavBar ************/
.activeLink {
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: #FDFDD5;
  background-color: rgba(1,88,172);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #FDFDD5;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
}

.link{
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(16, 0, 192);;
  color: white;
  font-style: italic;
  font-size: 20px;
  text-decoration:none ; 
}

.link:hover{
  /* color: #FDFDD5;; */
  background-color: #FDFDD5;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #3633ff;
}

   
@media (min-width: 320px) and (max-width: 768px) {
  .activeLink {
    margin-right: auto;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .link{
    border-radius: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
   
  }
}
