.score tbody tr{
    width: 100%;
    text-align: center;
    margin: auto 0;
}
.score tbody tr th{
    width: 10%;
    text-align: center;
}
.score tbody tr td{
    width: 5%;
    text-align: center;
}
.score tbody tr td input{
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.totalRuns{
    font-size: clamp(18px, 2vw, 20px) ;
    font-weight: 700;
    font-style: italic;
}

